<html>
  <head>
    {% if title %}
    <title>{{ title }} - Recommend</title>
    {% else %}
    <title>Recommend</title>
    {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600" rel="stylesheet">


  </head>
  <body>
    <div class = "header">
        <a href="/index">Home</a>
        {% if not current_user.is_authenticated %}
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="/logout">Logout</a>
            <a href="/recommender">Recommendations</a>
        {% endif %}
    </div>
    <hr>
    {%  with messages = get_flashed_messages() %}
        {%if messages%}
            <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
