<html>
  <head>
    {% if title %}
    <title>{{ title }} - Recommend</title>
    {% else %}
    <title>Recommend</title>
    {% endif %}
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


  </head>
  <body>
    <div class = "header">
        <a href="/index"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:11px">Home</button></a>
        {% if not current_user.is_authenticated %}
            <a href="/login"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:3px">Login</button></a>
            <a href="/register"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:3px">Register</button></a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="/logout"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:3px">Log Out</button></a>
            <a href="/recommender"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:3px">Recommender</button></a>
            <a href="/profile"><button type="button" class="btn btn-primary" style = "margin-top:5px; margin-left:3px">Profile</button></a>
        {% endif %}
    </div>
    <hr>
    {%  with messages = get_flashed_messages() %}
        {%if messages%}
            <ul>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
