{% extends "base.html" %}
{% block content %}


    <div class="jumbotron text-center">
        {% if not current_user.is_authenticated %}
            <h1>Welcome to Movie Picker!</h1>
            <p class="lead">This is a movie recommender app. Try it out Yourself!</p>

                <a href="/register" class="btn btn-primary btn-lg">Register</a>
                <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% endif %}
         {% if current_user.is_authenticated %}
             <h1>Hello {{ username }}</h1>
             <p class="lead" style="margin-top: 1%">Thank you for using Movie Picker</p>
            {% if plural_check %}
                <p> There are currentrly {{ user_number }} users registered!</p>
            {% endif %}

             {% if not plural_check %}
                <p> There is currentrly {{ user_number }} user registered!</p>
            {% endif %}
              <p> And we have {{ movie_number }} movies in our database!</p>
         {% endif %}
    </div>


{% endblock %}
