{% extends "base.html" %}
{% block content %}
    {% if  error%}
            <div class = error align = "center">
            <h3>{{ error }}</h3>
            </div>
    {% endif %}
    <form method=POST action="{{ url_for('login') }}">
        <div class = "form-group" style="margin-left:15px">
            <h2 class="form-signin-heading">Log in</h2>
                <input type="text" name="username" class="form-control" style="max-width:25%; margin-top:5px" placeholder="Username"/>

                <input type="password" name="pass" class="form-control" style="max-width:25%; margin-top:5px"placeholder="Password"/>
                <input class="btn btn-primary" type="submit" value="Submit" style="margin-top:5px"/>
        </div>
</form>

{% endblock %}