{% extends "base.html" %}
{% block content %}


<div style="margin-left: 2%">
    <!-- <p> Hello {{ user }}!</p> -->
    <div>
        <label>Movies watched:</label>
                <select name="movies" width="300px">
                    {% for x in user_movies %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
    </div>
    <div style="margin-top:5px">
        <table>

        <form action="{{ url_for('recommender') }}" method="POST">
            <td>
                <label>List of Movies:</label><select name="movie" width="300px">
                    {% for x in movies %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
                <select name="rating" width="300px">
                    {% for x in range(6) %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Submit" />
          </td>


        </form>
    </table>
    </div>


</div>

    <div class="col-md-12" style="margin-top:3%">
    {% for movie in recommenations%}
        <div class="media mb-1">
        <a class="media-left waves-light">
            <img class="rounded-circle" height="230" width="120" src="{{ movie.poster }}" alt="Poster not found">
        </a>
        <div class="media-body">
            <a href="{{ movie.imdbLink }}"><h4 class="media-heading">{{ movie.name }}</h4></a>
            <div class="media-body">
                <p>Plot: {{ movie.plot }}</p>
            </div>
        </div>

    {% endfor %}
    </div>
    </div>

{% endblock %}