{% extends "base.html" %}
{% block content %}

<div style="margin-left: 2%">
    <p> Hello {{ user }}!</p>
    <div>
        <label>Movies watched:</label>
                <select name="movies" width="300px">
                    {% for x in user_movies %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
    </div>
    <p>List of movies:</p>
        <table>
        <form action="{{ url_for('recommender') }}" method="POST">
            <td>
                <select name="movie" width="300px">
                    {% for x in movies %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
                <select name="rating" width="300px">
                    {% for x in range(6) %}
                    <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
                    {% endfor %}
                </select>
            <input type="submit" value="Submit" />
          </td>


        </form>
    </table>

</div>
</html>
{% endblock %}